<header class="app-navbar">
  <div class="module banner parallax parallax-1">
    <nav>
      <ul>
        <li>
          <h1 class="logo"><a routerLink="" routerLinkActive="">{{ pageTitle }}</a></h1>
        </li>
        <li>
          <a routerLink="newPost">Novo Post</a>
        </li>
        <li>
          <a routerLink="contato">Sobre</a>
        </li>
        <li class="menu right">
          <input class="input-search" placeholder="pesquise..." type="text"
            name=""><i
            class="fas fa-search"></i>
        </li>
        <li class="menu right"><a routerLink="contato">Log In</a></li>
        <li class="menu right"><a routerLink="contato">Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>
