.post-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.post-title {
  font-size: 24px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.post-content {
  font-size: 16px;
  margin: 5px 5px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
